body{
    background-color: rgb(22, 22, 22);
    padding: 10px;
    margin: 20px;
}
.navi
{
    background-color: black;
    overflow: hidden;
}
.navi_right {
    text-align-last: justify; 
    text-align:center;
    padding: 2%;
    padding-right: 3%;
     padding-left: 3%;
    color: white;
    text-decoration: none;
    float:right;

}
.fa{
    text-align-last: justify; 
    text-align:center;
    padding: 2%;
    padding-right: 3%;
    padding-left: 3%;
    text-decoration: none;
    float: left;
}
.navi a:hover{
    background-color: rgba(156, 156, 156, 0.219);
    color: yellow;
    text-decoration: none;
   
}

.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-instagram {  
    background: #125688;  
    color: white;  
  }  
.fa-linkedin{
    background: #007bb5;
    color: white;
}
#profile{
    border-radius: 50%;
    height: 5%;
    box-shadow: none;
    float: right;
    margin: 5%;
}
.box 
{
    background-color:black;

}
.inner_box div{
    border-radius: 2%;
    display: inline-block;
    margin-block-start: 5%;
    margin-block-end: 5%;
    position: absolute;
    left: 25%;
    background-color: #3B5998;
    width: 50%;
    align-items: center;
    padding: 3%;
    text-align: left;
    color: white;
}
.inner_box h2, input[type=submit]{
    text-align: center;
    align-items: center;
}
.inner_box label,input[type=text],input[type=email]{
    padding-left: 25%;
}